.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.table-view .column-header-background {
    -fx-background-color: #2a73cc;
    -fx-background-radius: 5 5 0 0;
}

.table-view .column-header, 
.table-view .filler {
    -fx-size: 30px;
}

.table-view .column-header .label {
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-weight: bold;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #e6f0ff;
}

.table-view .table-row-cell:even {
    -fx-background-color: white;
}

.table-view .table-cell {
    -fx-padding: 8 10 8 10;
}

.table-view .table-cell.amount-column {
    -fx-alignment: CENTER-RIGHT;
    -fx-font-weight: bold;
    -fx-text-fill: #205081;
}
